.oferta-container {
    background-color: black;
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    width: 100%;
    height: 4vh;
    overflow: hidden; /* Oculta el texto que sale del contenedor */
}

.oferta-container p {
    color: white;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    animation: moveText 10s linear infinite; /* Aplica la animación */
    margin-top: 15px; /* Baja el texto un poco más */

}

/* Animación para mover el texto de derecha a izquierda */
@keyframes moveText {
    from {
        transform: translateX(100%); /* Comienza fuera del contenedor, a la derecha */
    }
    to {
        transform: translateX(-100%); /* Termina fuera del contenedor, a la izquierda */
    }
}