.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa todo el ancho */
    background-color: #f8f9fa; /* Fondo claro opcional */
  }
  
  .pagination-container .pagination {
    display: flex;
    gap: 5px; /* Espaciado entre los elementos de la paginación */
  }